class Specdown < Formula
  desc "Use your markdown documentation as tests"
  homepage "https://github.com/{{ github_repo }}"
  version "{{ version }}"
  license "Apache-2.0"

  on_macos do
    on_arm do
      url "https://github.com/{{ github_repo }}/releases/download/{{ git_tag }}/specdown-aarch64-apple-darwin"
      sha256 "{{ macos_arm_sha }}"
    end
    on_intel do
      url "https://github.com/{{ github_repo }}/releases/download/{{ git_tag }}/specdown-x86_64-apple-darwin"
      sha256 "{{ macos_x86_sha }}"
    end
  end

  on_linux do
    on_intel do
      url "https://github.com/{{ github_repo }}/releases/download/{{ git_tag }}/specdown-x86_64-unknown-linux-gnu"
      sha256 "{{ linux_x86_sha }}"
    end
    on_arm do
      url "https://github.com/{{ github_repo }}/releases/download/{{ git_tag }}/specdown-aarch64-unknown-linux-gnu"
      sha256 "{{ linux_arm_sha }}"
    end
  end

  depends_on "help2man" => :build

  resource("testdata") do
    url "https://raw.githubusercontent.com/{{ github_repo }}/{{ git_tag }}/README.md"
    sha256 "{{ readme_sha }}"
  end

  def install
    on_macos do
      on_arm do
        bin.install "specdown-aarch64-apple-darwin" => "specdown"
      end
      on_intel do
        bin.install "specdown-x86_64-apple-darwin" => "specdown"
      end
    end
    on_linux do
      on_intel do
        bin.install "specdown-x86_64-unknown-linux-gnu" => "specdown"
      end
      on_arm do
        bin.install "specdown-aarch64-unknown-linux-gnu" => "specdown"
      end
    end

    generate_completions_from_executable(bin/"specdown", "completion", shells: [
      :bash,
      :fish,
      :zsh,
    ])

    # Man pages
    output = Utils.safe_popen_read("help2man", "#{bin}/specdown")
    (man1/"specdown.1").write output
  end

  test do
    system "#{bin}/specdown", "-h"
    system "#{bin}/specdown", "-V"

    resource("testdata").stage do
      assert_match "5 functions run (5 succeeded / 0 failed)", shell_output("#{bin}/specdown run README.md")
    end
  end
end
