name: Pipeline
on:
  push:
    branches:
      - '*'
  pull_request:

jobs:
  run-tests:
    uses: ./.github/workflows/run-tests.yml

  bump-cargo-version:
    runs-on: ubuntu-latest
    needs:
      - run-tests
    if: github.ref == 'refs/heads/master' && needs.run-tests.outputs.will-bump == 'true'
    steps:
      - uses: actions/checkout@v4
        name: Checkout the repository
      - uses: actions/cache@v3.3.2
        name: Cache cargo dependencies
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          path: |
            .cache
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
            target
      - uses: actions-rs/toolchain@v1.0.7
        name: Install rust toolchain
        with:
          default: true
          profile: minimal
          toolchain: stable
      - uses: actions-rs/cargo@v1.0.3
        name: Build release version
        with:
          args: --release --locked
          command: build
      - name: Install cargo-edit
        run: cargo install cargo-edit
      - name: Set Cargo version
        run: cargo set-version "${NEW_VERSION#v}"
        env:
          NEW_VERSION: ${{ needs.run-tests.outputs.bump-version }}
      - name: Store updated Cargo files
        uses: actions/upload-artifact@v3
        with:
          name: bumped-files
          path: Cargo.*

  build-binaries:
    if: github.ref == 'refs/heads/master'
    runs-on: ${{ matrix.os }}
    needs:
      - run-tests
    steps:
      - run: ${{ matrix.install }}
        env:
          DEBIAN_FRONTEND: noninteractive
        name: Install additional dependencies
      - uses: actions/checkout@v4
        name: Checkout the repository
      - uses: actions/cache@v3.3.2
        name: Cache cargo dependencies
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          path: |
            .cache
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
            target
      - uses: actions-rs/toolchain@v1.0.7
        name: Install rust toolchain
        with:
          default: true
          profile: minimal
          toolchain: stable
      - uses: actions-rs/cargo@v1.0.3
        name: Build release version
        with:
          args: --release --locked
          command: build
      - id: get_repository_name
        name: Calculate repository name
        run: echo "REPOSITORY_NAME=$(echo "$GITHUB_REPOSITORY" | awk
          -F / '{print $2}' | sed -e "s/:refs//")" >> "$GITHUB_OUTPUT"
        shell: bash
      - name: Move binary to upload location
        env:
          TARGET: ${{ matrix.target }}
          EXTENSION: ${{ matrix.suffix }}
          REPOSITORY_NAME: ${{ steps.get_repository_name.outputs.REPOSITORY_NAME }}
        run: mv "./target/release/$REPOSITORY_NAME$EXTENSION" "./$REPOSITORY_NAME-$TARGET$EXTENSION"
        shell: bash
      - uses: actions/upload-artifact@v3
        name: Store built binary version
        with:
          name: bins
          path: ${{ steps.get_repository_name.outputs.REPOSITORY_NAME }}-${{ matrix.target }}${{ matrix.suffix }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            suffix: ''
            target: x86_64-apple-darwin
            install: ''
          - os: ubuntu-latest
            suffix: ''
            target: x86_64-unknown-linux-gnu
            install: ''
          - os: windows-latest
            suffix: .exe
            target: x86_64-pc-windows-msvc
            install: ''

  tag-and-release:
    needs:
      - build-binaries
      - bump-cargo-version
    uses: armakuni/github-actions/.github/workflows/tag-and-release.yml@v0.14.10
    with:
      download-artifacts: true
      release-artifacts: ./bins/*

  publish-website:
    needs:
      - tag-and-release
    uses: ./.github/workflows/publish-website.yml

  generate-formula:
    needs:
      - tag-and-release
    name: Generate Homebrew homebrew
    runs-on: ubuntu-latest
    steps:
      - id: get_repository_name
        name: Work out repository name
        run: echo "REPOSITORY_NAME=$(echo "$GITHUB_REPOSITORY" |
          awk -F / '{print $2}' | sed -e "s/:refs//")" >> "$GITHUB_OUTPUT"
        shell: bash

      - uses: actions/checkout@v4
        name: Checkout this repository
        with:
          path: main-repo
          ref: v${{ needs.tag-and-release.outputs.current-version }}

      - uses: actions/checkout@v4
        with:
          repository: specdown/homebrew-repo
          path: homebrew-repo
          ref: main
          token: ${{ secrets.COMMITTER_TOKEN }}
        name: Checkout the custom tap

      - run: |
          sha256sum -b main-repo/README.md | awk '{ print $1 }' > "./hash"
          echo "SHA256=$( cat hash )" >> "$GITHUB_OUTPUT"
        id: readme
        shell: bash

        name: Calculate the readme hash
      - run: |
          curl -Lo file.tar.gz "https://github.com/$GIT_REPO/archive/$GIT_TAG.tar.gz"
          sha256sum -b file.tar.gz | awk '{ print $1 }' > "./hash"
          echo "SHA256=$( cat hash )" >> "$GITHUB_OUTPUT"
        id: bundle
        shell: bash
        env:
          GIT_REPO: ${{ github.repository }}
          GIT_TAG: v${{ needs.tag-and-release.outputs.current-version }}
        name: Calculate the binary hash

      - uses: cuchi/jinja2-action@v1.2.1
        with:
          template: main-repo/homebrew/formula.rb.j2
          output_file: formula.rb
          variables: |
            github_repo=${{ github.repository }}
            git_tag=v${{ needs.tag-and-release.outputs.current-version }}
            file_sha=${{ steps.bundle.outputs.SHA256 }}
            readme_sha=${{ steps.readme.outputs.SHA256 }}
        name: Generate the template

      - shell: bash
        name: Open a PR on the custom tap repository
        run: |
          git config --global user.email "noreply@specdown.io"
          git config --global user.name "Specdown"
          
          VERSION="${GIT_TAG#refs/tags/}"
          git switch -c "$REPOSITORY_NAME-$VERSION"

          cp ../formula.rb "Formula/$REPOSITORY_NAME.rb"

          git add "Formula/$REPOSITORY_NAME.rb"
          git commit -m "fix: Update $REPOSITORY_NAME to $VERSION"
          git push origin "$REPOSITORY_NAME-$VERSION"
          gh pr create --label releases --base main --fill
        working-directory: homebrew-repo
        env:
          REPOSITORY_NAME: ${{ steps.get_repository_name.outputs.REPOSITORY_NAME }}
          GIT_TAG: v${{ needs.tag-and-release.outputs.current-version }}
          GITHUB_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
